
/* Esta é a seção que controla o espaço na tela */
.about-section {
    width: 100%;
    height: 100vh; /* Agora a seção ocupa a tela toda */
    display: flex;
    align-items: center; /* Centraliza o bloco branco verticalmente */
    justify-content: flex-start; /* Mantém o alinhamento à esquerda se desejar */
    background-color: transparent; /* A seção em si não tem cor */
    margin: 0; 
    padding: 0;
    z-index: 10;
    position: relative;
}

/* Este é o seu bloco branco (o "sticker") */
.about-container {
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px);


    -webkit-backdrop-filter: blur(20px);
    padding: 60px;
    width: 95%;
    
    /* Efeito de Sticker / Bordas */
    border-top-right-radius: 100px; 
    border-bottom-right-radius: 100px;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.2);
    border: 5px solid var(--accent-gold);
    border-left: none;
    
    /* Layout interno */
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: center;
    
    /* Ajuste de espaçamento */
    gap: 90px; /* Aumente ou diminua este valor conforme necessário */
}

.about-content {
    /* Agrupa o Subtítulo e o Título e os alinha à DIREITA */
    flex-direction: column;
    align-items: flex-end; 
    max-width: 50%;


    
}

.about-title{
    font-family: var(--font-signature);
    font-size: 3.5rem;
    font-weight: 300;
    color:#fff;
    text-align: center;

    /* font-size: clamp(2.5rem, 6vw, 10rem);
    font-weight: 500;
    line-height: 0.85;
    margin: 1.5rem 0; */
}



.about-subtitle {
    font-family: var(--font-topic);
    font-size: 4rem;
    color: var(--accent-gold);
    /* text-transform: uppercase; */
    text-align: center;
}

.about-text {
    max-width: 60%;
    /* margin-right: auto; */
    letter-spacing: 0.02em;
}

.about-text p {
    font-family: "Athiti", sans-serif;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.8;
    max-width: 100%;
    margin-bottom: 40px;
    font-weight: 300;
}

.about-text p:last-child {
    margin-bottom: 0;
}

