@font-face {
    font-family: 'Tan Vivre Libre';
    src: url('./fonts/TAN-VIVRE-LIBRE.woff2') format('woff2'),
         url('./fonts/TAN-VIVRE-LIBRE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tan Garland';
    src: url('./fonts/TAN-Garland.woff2') format('woff2'),
         url('./fonts/TAN-Garland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gistesy';
    src: url('./fonts/Gistesy.woff2') format('woff2'),
         url('./fonts/Gistesy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gentlemens Script';
    src: url('./fonts/Gentlemens Script.woff2') format('woff2'),
         url('./fonts/Gentlemens Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Athiti';
    src: url('./fonts/Athiti.woff2') format('woff2'),
         url('./fonts/Athiti.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}